@import "mediaqueries";

@media screen and (max-width: 1000px) {
    #textos{
        font-size: 12px;
    }
  }
 

  @media screen and (max-width: 1200px) {
    .btnhover{
     
       font-size: 14px;
    }

  }

  @media screen and (max-width: 1000px) {
    #textos{
        font-size: 12px;
    }
  }

  @media screen and (max-height: 690px) {
    #navnav{
        font-size: 4px;
    }
    #imagebnredes{
        width: 25%;
    }
  }

.only-mobile{
    display: none;
    @include mobile{ display: block;}
}

.not-mobile{
    display: none;
    @include tablet{ display: block;}
}
.carousel-caption{
@include mobile{
    color: white;
    margin-left: -13%;
   height: 100%;
    text-align: left;
    font-weight: bold;
   
    
    }

  

    @include tablet{
         
        color: white;
        font-weight: bold;
        text-align: left;
        text-shadow: 0 1px 2px rgba(0,0,0,.6);
        margin-left: -13%;
     height: 100%;
        font-size: 26px;
  
}

@include desktop{
         
    color: white;
    font-weight: bold;
    text-align: left;
   
    margin-left: -13%;
    height: 100%;
    font-size: 26px;
   
}
}


.carousel-caption > h3{
color: #EABE3F;
font-size: 37px;
}