:focus {
    outline: none;
  }
  .row {
    margin-right: 0;
    margin-left: 0;
  }
  /* 
      Sometimes the sub menus get too large for the page and prevent the menu from scrolling, limiting functionality
      A quick fix is to change .side-menu to 
  
      -> position:absolute
      
      and uncomment the code below.
      You also need to uncomment 
      
      -> <div class="absolute-wrapper"> </div> in the html file
  
      you also need to tweek the animation. Just uncomment the code in that section
      --------------------------------------------------------------------------------------------------------------------
      If you want to make it really neat i suggest you look into an alternative like http://areaaperta.com/nicescroll/
      This will allow the menu to say fixed on body scoll and scoll on the side bar if it get to large
  */
  /*.absolute-wrapper{
      position: fixed;
      width: 300px;
      height: 100%;
      background-color: #f8f8f8;
      border-right: 1px solid #e7e7e7;
  }*/
  .row > .column {
    padding: 0 8px;
  }
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  .column {
    float: left;
    width: 25%;
  }
  
  /* The Modal (background) */
  .modal1 {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: black;
  }
  
  /* Modal Content */
  .modal-content1 {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    width: 60%;
    max-width: 1200px;
  }
  
  /* The Close Button */
  .btn-close {
    color: #EABE3F;
    position: absolute;
    top: 10px;
    right: 25px;
    font-size: 35px;
    font-weight: bold;
    opacity: 1;
  }
  
  .btn-close:hover,
  .btn-close:focus {
    color: #fff;
    text-decoration: none;
    cursor: pointer;
  }
  
  .mySlides {
    display: none;
  }
  .mySlides.show{
    display: block;
  }
  
  .cursor {
    cursor: pointer;
  }
  
  /* Next & previous buttons */
  .btn-prev,
  .btn-next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
  }
  
  /* Position the "next button" to the right */
  .btn-next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover,
  .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  img {
    margin-bottom: -4px;
  }
  
  .caption-container {
    text-align: center;
    background-color: black;
    padding: 2px 16px;
    color: white;
  }
  
  .demo {
    opacity: 0.6;
  }
  
  .active,
  .demo:hover {
    opacity: 1;
  }
  
  img.hover-shadow {
    transition: 0.3s;
  }
  
  .hover-shadow:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

  .board {
    width: 100%;
    height: auto;
}


#myTab {
 
  border: none;
}

.panel-body {
 
}



.tab-content{
  padding: 0;
}
.board .nav-tabs {
  position: relative;
  margin: 15px auto;
      margin-bottom: 15px;
  margin-bottom: 0;
  box-sizing: border-box;
}

.liner {
  height: 1px;
  background: #EABE3F;
  position: absolute;
  width: 97%;
  margin: 0 auto;
  left: 0;
  right: 30px;
  top: 70%;
}




.modal-content1{
  background: transparent;
}




.modal-header1 {
  padding: 15px;
  border-bottom: 1px solid #000;
}

.borderform{
  border: 1px solid #EABE3F;
}






#myTab.nav-tabs > li {
  width: 24%;
  min-height: 107px;
}

.dato.bold {
  font-weight: 500 !important;
  font-size: 14px;
}

.dato {
  color: #fff;
  font-size: 13px;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  text-align: center;
}

#myTab.nav-tabs > li a {
  width: 0px;
  height: 0px;
  margin: 20px auto !important;
  border-radius: 100% !important;
  padding: 0 !important;
}






span.round-tabs {
  width: 20px;
  height: 20px;
  display: inline-block;
  border-radius: 100px;
  z-index: 2;
  position: absolute;
  left: -9px;
  top: -1px;
  font-size: 1px;
  background: #000;
  border: 3px solid #EABE3F;
  
}




  
  .contenido{
    
    background: #000 url("../images/Group29.png") ;
    color: #fff;
   
    font-family: 'Roboto', sans-serif;
    
    font-size: 20px;
  }

  h1{
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 45px;
  }

  h3{
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 23px;
  }
  .carus{
    background-color: transparent;
    margin: 9%;
    border: .5px solid #EABE3F;
    background-repeat: repeat-x;
 
  }



  .container-fluid{
    background-color: #000;
    padding-left: 0;
    padding-right: 0;
  }


.form-control{
  background-color: transparent;
  color: white;
  border: 0;
  border-bottom: 1px solid #EABE3F;
}


.form-control > input :active{
  background-color: #EABE3F;
  color: white;
  border: 0;
  border-bottom: 1px solid #000;
}



.panelw{
  color: #fff;
  background-color: transparent;
}
.nav-pills > li > a {
  border-radius: 4px;
  border: 1px solid #d0d0d0;
  color: white;
  
}

.nav-pills > li > a:hover {
  border-radius: 4px;
  border: 1px solid #d0d0d0;
  background-color:#EABE3F;
  color: #000;
}

.nav-pills > li.active > a, .nav-pills > li.active > a:focus, .nav-pills > li.active > a:hover {
  color: #000;
  background-color: #EABE3F;
  
}



.panel-default > .panel-heading {
  color: #333;
  background-color: transparent;
  border-color: #ddd;
  
  
}


.panel-default > .panel-heading :hover{
  color: #EABE3F;
  }


  .panel-default > .panel-heading :focus{
    color: #EABE3F;
    }
  







.container-fluidx {
  
  
  justify-content: center;    
}

.titulonavbar{
  font-weight: bold;
  font-size: 22px;
}



.col {
  background-color: transparent;
  border: 36px solid transparent;

}

.v-center{
  display: contents;
  align-items: center;
}

.v-center > .btn-info :hover{
 background-color: #EABE3F;
}

.btnhover{
  color: white;
  text-decoration: none;
 
}

#myTab > li:nth-child(3) > div > h3 > a:hover{
  color: #EABE3F;
  text-decoration: none;
  
}

#myTab > li:nth-child(3) > div > h3 > a:focus{
  color: #EABE3F;
  text-decoration: none;
}

#myTab > li:nth-child(2) > div > h3 > a:hover{
  color: #EABE3F;
  text-decoration: none;
  
}

#myTab > li:nth-child(2) > div > h3 > a:focus{
  color: #EABE3F;
  text-decoration: none;
}

#myTab > li:nth-child(4) > div > h3 > a:hover{
  color: #EABE3F;
  text-decoration: none;
  
}

#myTab > li:nth-child(4) > div > h3 > a:focus{
  color: #EABE3F;
  text-decoration: none;
}

#myTab > li:nth-child(5) > div > h3 > a:hover{
  color: #EABE3F;
  text-decoration: none;
  
}

#myTab > li:nth-child(5) > div > h3 > a:focus{
  color: #EABE3F;
  text-decoration: none;
}




.btn-info {
  color: #fff;
  background-color: transparent;
  border-color: transparent;
  border: 1px solid #d0d0d0;
}


.btn-info:hover,  .btn-info:focus, .btn-info:active{
  color: #000;
  background-color: #EABE3F;
  border-color: #EABE3F;
}

.panel-title {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 16px;
  color: inherit;
  background-color: transparent;
  color: white;
}




.pns{
  background-color: #EABE3F;
}
  .dsgn{
    padding: 40px 0px;
    margin-left: 15px;
    margin-right: 15px;
  }
  .side-menu {
    position: fixed;
    width: 300px;
    height: 100%;
    /*border-right: 1px solid #000; */
    padding-left: 4%;
  }

.navbar-default{
  background-color: transparent;
}

  .side-menu .navbar {
    border: none;
   
  }
  .side-menu .navbar-header {
    width: 100%;
    border-bottom: 1px solid #000;
   
    
    
  }

  .nav-justified {
    width: 100%;
    padding-left: 38px;
    padding-right: 38px;
}
  .side-menu .navbar-nav .active a {
    background-color: transparent;
    margin-right: -1px;
    border-right: 5px solid #e7e7e7;
    
    
  }
  .side-menu .navbar-nav li {
    display: block;
    width: 100%;
  background-color: transparent;
    
    
  }
  .side-menu .navbar-nav li a {
    padding: 12px;
    color: white;
    background-color: transparent;
    
  }

  .side-menu .navbar-nav li a:hover, .side-menu .navbar-nav li a:focus{
    color: #EABE3F;
  }

  
  
 .footer{
   background-color: #EABE3F;
   color: #000;
  z-index: 5;
  position: relative;
   
 }
  
  .side-menu .navbar-nav li a .glyphicon {
    padding-right: 10px;
    color: white;
  }
  .side-menu #dropdown {
    border: 0;
    margin-bottom: 0;
    border-radius: 0;
    background-color: transparent;
    box-shadow: none;
  }
  .side-menu #dropdown .caret {
    float: right;
    margin: 9px 5px 0;
  }
  .side-menu #dropdown .indicator {
    float: right;
  }
  .side-menu #dropdown > a {
    border-bottom: 1px solid #e7e7e7;
  }
  .side-menu #dropdown .panel-body {
    padding: 0;
    background-color: #f3f3f3;
  }
  .side-menu #dropdown .panel-body .navbar-nav {
    width: 100%;
  }
  .side-menu #dropdown .panel-body .navbar-nav li {
    padding-left: 15px;
    border-bottom: 1px solid #e7e7e7;
  }
  .side-menu #dropdown .panel-body .navbar-nav li:last-child {
    border-bottom: none;
  }
  .side-menu #dropdown .panel-body .panel > a {
    margin-left: -20px;
    padding-left: 35px;
  }
  .side-menu #dropdown .panel-body .panel-body {
    margin-left: -15px;
  }
  .side-menu #dropdown .panel-body .panel-body li {
    padding-left: 30px;
  }
  .side-menu #dropdown .panel-body .panel-body li:last-child {
    border-bottom: 1px solid #e7e7e7;
  }
  .side-menu #search-trigger {
    background-color: #f3f3f3;
    border: 0;
    border-radius: 0;
    position: absolute;
    top: 0;
    right: 0;
    padding: 15px 18px;
  }
  .side-menu .brand-name-wrapper {
    min-height: 50px;
    background-color: transparent;
   
  }
  .side-menu .brand-name-wrapper .navbar-brand {
    display: block;
    color: white;
  }
  .side-menu #search {
    position: relative;
    z-index: 1000;
  }
  .side-menu #search .panel-body {
    padding: 0;
  }
  .side-menu #search .panel-body .navbar-form {
    padding: 0;
    padding-right: 50px;
    width: 100%;
    margin: 0;
    position: relative;
    border-top: 1px solid #e7e7e7;
  }
  .side-menu #search .panel-body .navbar-form .form-group {
    width: 100%;
    position: relative;
  }
  .side-menu #search .panel-body .navbar-form input {
    border: 0;
    border-radius: 0;
    box-shadow: none;
    width: 100%;
    height: 50px;
  }
  .side-menu #search .panel-body .navbar-form .btn {
    position: absolute;
    right: 0;
    top: 0;
    border: 0;
    border-radius: 0;
    background-color: #000;
    padding: 15px 18px;
  }
  /* Main body section */
  .side-body {
    margin-left: 310px;
  }
  /* small screen */
  @media (max-width: 768px) {
    .side-menu {
      position: relative;
      width: 100%;
      height: 0;
      border-right: 0;
      border-bottom: 1px solid #e7e7e7;
    }
    .side-menu .brand-name-wrapper .navbar-brand {
      display: inline-block;
    }
    /* Slide in animation */
    @-moz-keyframes slidein {
      0% {
        left: -300px;
      }
      100% {
        left: 10px;
      }
    }
    @-webkit-keyframes slidein {
      0% {
        left: -300px;
      }
      100% {
        left: 10px;
      }
    }
    @keyframes slidein {
      0% {
        left: -300px;
      }
      100% {
        left: 10px;
      }
    }
    @-moz-keyframes slideout {
      0% {
        left: 0;
      }
      100% {
        left: -300px;
      }
    }
    @-webkit-keyframes slideout {
      0% {
        left: 0;
      }
      100% {
        left: -300px;
      }
    }
    @keyframes slideout {
      0% {
        left: 0;
      }
      100% {
        left: -300px;
      }
    }
    /* Slide side menu*/
    /* Add .absolute-wrapper.slide-in for scrollable menu -> see top comment */
    .side-menu-container > .navbar-nav.slide-in {
      -moz-animation: slidein 300ms forwards;
      -o-animation: slidein 300ms forwards;
      -webkit-animation: slidein 300ms forwards;
      animation: slidein 300ms forwards;
      -webkit-transform-style: preserve-3d;
      transform-style: preserve-3d;
     
    }
    .side-menu-container > .navbar-nav {
      /* Add position:absolute for scrollable menu -> see top comment */
      position: fixed;
      left: -300px;
      width: 300px;
      top: 43px;
      height: 100%;
      padding-left: 10%;
      
      -moz-animation: slideout 300ms forwards;
      -o-animation: slideout 300ms forwards;
      -webkit-animation: slideout 300ms forwards;
      animation: slideout 300ms forwards;
      -webkit-transform-style: preserve-3d;
      transform-style: preserve-3d;
    }
    /* Uncomment for scrollable menu -> see top comment */
    /*.absolute-wrapper{
          width:285px;
          -moz-animation: slideout 300ms forwards;
          -o-animation: slideout 300ms forwards;
          -webkit-animation: slideout 300ms forwards;
          animation: slideout 300ms forwards;
          -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
      }*/
    @-moz-keyframes bodyslidein {
      0% {
        left: 0;
      }
      100% {
        left: 300px;
      }
    }
    @-webkit-keyframes bodyslidein {
      0% {
        left: 0;
      }
      100% {
        left: 300px;
      }
    }
    @keyframes bodyslidein {
      0% {
        left: 0;
      }
      100% {
        left: 300px;
      }
    }
    @-moz-keyframes bodyslideout {
      0% {
        left: 300px;
      }
      100% {
        left: 0;
      }
    }
    @-webkit-keyframes bodyslideout {
      0% {
        left: 300px;
      }
      100% {
        left: 0;
      }
    }
    @keyframes bodyslideout {
      0% {
        left: 300px;
      }
      100% {
        left: 0;
      }
    }
    /* Slide side body*/
    .side-body {
      margin-left: 0px;
      margin-top: 70px;
      position: relative;
      -moz-animation: bodyslideout 300ms forwards;
      -o-animation: bodyslideout 300ms forwards;
      -webkit-animation: bodyslideout 300ms forwards;
      animation: bodyslideout 300ms forwards;
      -webkit-transform-style: preserve-3d;
      transform-style: preserve-3d;
    }

   

    .side-body1 {
     
      
      margin-top: 70px;
      position: relative;
      -moz-animation: bodyslideout 300ms forwards;
      -o-animation: bodyslideout 300ms forwards;
      -webkit-animation: bodyslideout 300ms forwards;
      animation: bodyslideout 300ms forwards;
      -webkit-transform-style: preserve-3d;
      transform-style: preserve-3d;
    }
    .body-slide-in {
      -moz-animation: bodyslidein 300ms forwards;
      -o-animation: bodyslidein 300ms forwards;
      -webkit-animation: bodyslidein 300ms forwards;
      animation: bodyslidein 300ms forwards;
      -webkit-transform-style: preserve-3d;
      transform-style: preserve-3d;
    }
    /* Hamburger */
    .navbar-toggle {
      border: 0;
      float: left;
      padding: 18px;
      margin: 0;
      border-radius: 0;
      background-color: transparent;
    }

    .navbar-toggle :hover{
      background-color: #EABE3F;
    }
    /* Search */
    #search .panel-body .navbar-form {
      border-bottom: 0;
    }
    #search .panel-body .navbar-form .form-group {
      margin: 0;
    }
    .navbar-header {
      /* this is probably redundant */
      position: fixed;
      z-index: 3;
      background-color: #000;
     
    }
    /* Dropdown tweek */
    #dropdown .panel-body .navbar-nav {
      margin: 0;
    }
  }