<template >
  <!-- eslint-disable max-len -->
  <div
    class="container"
    v-if="isLoading"
  >
    Enviando...
  </div>
  <div class="text-center form-generic form-generic--alert" v-else-if="isSent">
    <h1 class="title text-2xl md:text-4xl font-bold color-aqua">¡Muchas gracias!</h1>
    <p>En breve me comunicaré personalmente contigo.</p>
  </div>
  
              <form id="the-form" v-else @submit.prevent="sendForm" class=" " >
                <div
                  class=" bg-yellow-400 rounded p-2 mb-4 text-center"
                  v-if="formHasError"
                >
                  <p>Hubo un error enviando tus datos, por favor intentalo de nuevo</p>
                </div>


                <div class="col-sm-4" id="textos" >
                  <br>
                  <p>Comunícate con nosotros y buscamos el evento ideal para ti.</p>
          
                  <br>
                <!-- <h4><strong>Telefóno:</strong></h4>
                  <p>+55 4215 1523</p>
                  <p>+55 4215 1523</p> -->
                  <br>

                  <h4><strong>Correos:</strong></h4>
                  <p>contacto@phoenix.mx</p>
                  <p>info@phoenix.mx</p>
                </div>
               
                
                              <div class="form-group col-sm-8 borderform">
                                <br>
                  <p>Compártenos tus datos y nos pondremos en contacto contigo:</p>
                  <br>
                  <div class="form-group col-sm-6">
                    <span>Nombre Completo</span>
                                <input
                                    id="basic-first-name"
                                    v-model="model.Nombre"
                                    class="form-control"
                                    name="Nombre"
                                    placeholder="Nombre Apellido"
                                  
                                    required
                                    type="text"
                                  /></div>
                              
                              <div class="form-group col-sm-6">
                                <span>Correo electrónico</span>
                              
                                <input
                                    id="basic-correo"
                                    v-model="model['Correo']"
                                    name="Correo"
                                    class="form-control"
                                    required
                                    placeholder="Correo donde te podemos contactar"
                                    type="email"
                                  />
                              </div>
                              <div class="form-group col-sm-12">
                            
                                <textarea
                                    id="basic-opinion"
                                    v-model="model['Mensaje']"
                                    name="Mensaje"
                                    class="form-control"
                                    placeholder="Mensaje"
                                    rows="5"
                                    >
                                </textarea>
                              </div>
                              <label style="float: left;"><input type="checkbox"  id="TOS" v-model="TOS" name="TOS" required="true"> Aviso de Privacidad</label><br>
                              <div style="text-align: center;">
                           <button style=" padding-left: 8%; padding-right: 8%; margin-top: 5%; color: black; font-size: 20px; background-color: #EABE3F;"  type="submit" class="btn btn-warning"><strong>Enviar</strong></button>
                              </div>
                            
                            <br><br>
                          </div>
     
                    
                     
                 
                   
                </form>
 
  <!-- eslint-enable max-len -->
</template>
<script>
import axios from 'axios';
import formMixin from './form-mixin';
/**
 * Formulario genérico
 *
 * @version 1.6
 */


export default {
  name: 'FormGeneric',
  mixins: [formMixin],
  data() {
    return {
      TOS: false,
      isSent: false,
      isLoading: false,
      formHasError: false,
      otrosModelos: false,
      model: {
        Nombre: '',
        'E-mail': '',
        Mensaje: ''
      }
    };
  },
  

  
  methods: {
    sendForm() {
      Promise.all([this.sendToSheets()])
        .then(() => {
          this.isLoading = false;
          this.isSent = true;

          console.log('Sending to analiticas');
          window.gtag('event', 'generate_lead', {
            event_label: 'Formulario de contacto enviado.',
            event_category: 'engagement'
          });
          // console.log('Sending to addwords');
          // window.gtag('event', 'conversion', {
          //   send_to: 'AW-593599026/1GwyCMajq-wBELK0hpsC'
          // });
        })
        .catch(error => {
          this.isLoading = false;
          this.formHasError = true;
          console.error(error);
          window.gtag('event', 'exception', {
            description: 'ERROR_FORM_SEND',
            fatal: true // set to true if the error is fatal
          });
        });
    },
    sendToSheets() {
      return this.formSend();
    }

  }
};
</script>

<docs>
  Este formulario es muy configurable y no suele ser necesario tener más de uno
  ## Examples Usando las opciones por defecto
  ```jsx
  <form-generic />
  ```
  ## Configurando la hoja de envío
  ```jsx
  <form-generic sheet-destiny="Demo de componente" />
  ```
</docs>
